.form {
  &__actions {
    display: block;
    position: absolute;
    right: 20px;
  }

  &__cancel {
    margin-right: 10px;
  }

  &__cancel,
  &__save {
    text-transform: uppercase;
    text-decoration: none;
  }

  .infocard__link {
    display: none;
  }

  &-row {
    position: relative;
    height: 50px;
    margin-bottom: 18px;

    ion-icon {
      display: none;
    }
  }

  &-control {
    &__edit {
      @extend %edit-control;
      position: static;
      display: none;

      @include for-tablet-portrait-up {
        display: inline-block;
      }
    }
  }

  &__label {
    text-transform: uppercase;
    color: #a6b0b7;
    font-family: $font-regular;
    position: absolute;
    top: 26px;
    left: 0;
  }

  &__input {
    border: 0;
    background: transparent;
    border-bottom: 1px solid #d0dce7;
    bottom: 0;
    color: $dark;
    font-family: $font-regular;
    padding-bottom: 6px;
    padding-top: 5px;
    font-size: 0.9rem;
    position: absolute;
    width: 100%;
    z-index: 0;

    &:focus {
      outline: none;

      &:placeholder-shown ~ label {
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-name: labelmove;
      }
    }

    &::placeholder {
      text-transform: uppercase;
      color: transparent;
    }

    &:not(:placeholder-shown) ~ label {
      top: 0;
    }
  }

  &__text {
    display: none;
  }

  &--noedit {
    .form__label {
      display: none;
    }

    .infocard__link {
      display: block;

      @include for-tablet-portrait-up {
        display: none;
      }
    }

    .form__actions {
      display: none;
    }

    .form__input {
      border: 0;
      width: auto;
      padding: 0;
      margin: 0;
      position: static;
    }

    .form-row {
      height: auto;

      &--inline {
        display: inline-block;

        .form__input {
          display: none;
        }
      }

      ion-icon {
        display: inline-block;
        font-size: 1.3rem;
        margin-right: 10px;
        vertical-align: middle;
      }
    }

    .form__text {
      display: inline;
    }

    .form-control:not(.form-row--inline) {
      .form__text {
        display: none;
      }
    }

    @include for-tablet-portrait-up {
      .form-control .form__input {
        display: none;
      }

      .form-control:not(.form-row--inline) {
        ion-icon {
          position: relative;
          z-index: 1;
        }

        .form__text {
          background: $white-smoke;
          padding: 3px 16px;
          padding-left: 40px;
          position: relative;
          left: -40px;
          margin-right: -44px;
          display: inline-block;
          padding-bottom: 9px;
          padding-top: 10px;
          padding-right: 24px;
          height: 37px;
          box-sizing: border-box;
          max-height: 37px;
          vertical-align: middle;
          font-size: 0.9rem;
        }
      }

      .form-row {
        margin-bottom: 1px;
      }

      .form-control__edit {
        width: 43px;
        height: 37px;
        max-height: 37px;
        padding-top: 11px;
        padding-bottom: 10px;
        padding-left: 15px;
        overflow: hidden;
        vertical-align: middle;
      }

      .form-control__edit ion-icon {
        margin-right: 0;
        font-size: 0.9rem;
      }
    }
  }
}
