.horizontal-menu {
  list-style: none;
  @include flexbox;
  @include justify-content(flex-start);
  background-color: $white;
  box-shadow: $box-shadow;
  padding: 0;

  $mlsp: $menu-link-sidepadding - 6;

  &__item {
    display: inline-flex;

    &:first-child {
      margin-left: $mlsp;
    }
  }

  &__link {
    padding-bottom: $menu-link-toppadding;
    padding-left: $mlsp;
    padding-right: $mlsp;
    padding-top: $menu-link-toppadding;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    color: $dark;

    @include for-tablet-portrait-up {
      padding-left: #{$menu-link-sidepadding - 6};
      padding-right: #{$menu-link-sidepadding - 6};
    }

    &--active:after {
      content: "";
      height: $border-width;
      width: calc(100% - #{$mlsp * 2});
      bottom: -1px;
      position: absolute;
      left: $mlsp;
      background-color: $blue;

      @include for-tablet-portrait-up {
        width: calc(100% - #{$mlsp * 2});
        left: #{$menu-link-sidepadding - 6};
      }
    }
  }

  @include for-tablet-portrait-up {
    padding-left: 195px;
    margin-top: -56px;
    box-shadow: $box-shadow;
    @include justify-content(flex-start);
  }
}
