.iconedlist {
  list-style: none;
  padding: 0;
  font-size: 0.9rem;

  &__item {
    margin-bottom: 10px;

    ion-icon {
      margin-right: 10px;
      font-size: 1.3rem;
      vertical-align: middle;
    }
  }
}
