.infocards {
  margin-top: 13px;
}

.infocard {
  padding-left: $box-sidepadding;
  padding-bottom: $box-sidepadding * 3;
  padding-top: $box-sidepadding + 3;
  padding-right: $box-sidepadding;
  background-color: $white;
  border-top: #{$border-width / 2} solid $mid-gray;
  border-bottom: #{$border-width / 2} solid $mid-gray;
  display: none;

  &--active {
    display: block;
  }

  &__title {
    margin-top: 0;
    font-weight: normal;
    color: $mid-darkgray;
  }

  &__link {
    @extend %edit-control;
    position: absolute;
  }

  &__name {
    @include for-tablet-portrait-up {
      display: inline-block;
      height: 37px;
      padding-left: 6px;
      vertical-align: middle;
      padding-top: 8px;
      overflow: hidden;
      max-height: 37px;
      box-sizing: border-box;
      padding-right: 15px;
      background-color: $white-smoke;
    }

    .form__text {
      font-weight: bold;
      color: $mid-darkgray;
      font-size: 1rem;
    }
  }

  @include for-tablet-portrait-up {
    padding-left: #{$box-sidepadding * 2 + 2};
    padding-right: #{$box-sidepadding * 2 + 2};
    padding-top: #{$box-sidepadding * 2 + 2};
  }
}
