.infocards {
  margin-top: 13px;
}

.infocard {
  padding-left: $box-sidepadding;
  padding-bottom: $box-sidepadding * 3;
  padding-top: $box-sidepadding + 3;
  padding-right: $box-sidepadding;
  background-color: $white;
  border-top: #{$border-width / 2} solid $mid-gray;
  border-bottom: #{$border-width / 2} solid $mid-gray;

  &__title {
    margin-top: 0;
    font-weight: normal;
    color: $mid-darkgray;
  }

  &__link {
    background-color: $soft-white;
    color: $mid-darkgray;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 6px;
    right: 30px;
    position: absolute;
    font-size: 0.9rem;
    height: 25px;
    box-sizing: border-box;
  }

  @include for-tablet-portrait-up {
    padding-left: #{$box-sidepadding * 2 + 2};
    padding-right: #{$box-sidepadding * 2 + 2};
    padding-top: #{$box-sidepadding * 2 + 2};
  }
}
