.profile-header {
  box-sizing: border-box;
  padding-left: $box-sidepadding;
  padding-right: $box-sidepadding;

  &__picture {
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  &__name {
    text-align: center;
    font-size: $font-title-size;
    margin-top: 30px;
    margin-bottom: 0;
  }

  @include for-tablet-portrait-up {
    @include flexbox;
    background-color: $white;
    padding: #{$box-sidepadding + 3};
    padding-top: 111px;
    position: relative;
    box-shadow: $box-shadow-3;
    width: auto;

    &__name {
      text-align: left;
    }

    &__picture {
      text-align: left;
      margin-right: 26px;
    }

    &__summary {
      position: relative;
      width: 100%;

      .iconedlist {
        @include flexbox;
        @include flex-direction(column);

        &__item:first-child {
          order: 1;
        }

        &__item:last-child {
          order: 0;
        }
      }

      .reviewsrating {
        position: absolute;
        right: 0;
      }
    }
  }

  &__image {
    box-shadow: $box-shadow-2;
  }
}
