$bg-color: #f5f8f9;
$blue: #007ee5;
$dark: #3f454a;
$mid-gray: #d0dce7;
$semi-darkgray: #a6b0b7;
$mid-darkgray: #727e88;
$semi-dark: #63696d;
$soft-white: #ecf1f5;
$white-smoke:#f5f8f8;
$white: #ffffff;
$box-sidepadding: 19px;

$box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 12px 0px;
$box-shadow-2: rgba(0, 0, 0, 0.18) 0px 0px 20px 0px;
$box-shadow-3: rgba(0, 0, 0, 0.08) 0px 0px 20px 0px;

$menu-link-sidepadding: $box-sidepadding;
$menu-link-toppadding: $box-sidepadding;
$border-width: 2px;
$body-padding-top: 76px;

$font-size-default: 13px;
$font-title-size: 1.3rem;

$container-max-width: 1180px;
