@import "mixins";

$bg-color: #f5f8f9;
$blue: #007ee5;
$dark: #3f454a;
$mid-gray: #d0dce7;
$semi-darkgray: #a6b0b7;
$mid-darkgray: #727e88;
$semi-dark: #63696d;
$white: #ffffff;
$box-sidepadding: 19px;

$box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 12px 0px;
$box-shadow-2: rgba(0, 0, 0, 0.18) 0px 0px 20px 0px;
$box-shadow-3: rgba(0, 0, 0, 0.08) 0px 0px 20px 0px;

$menu-link-sidepadding: $box-sidepadding;
$menu-link-toppadding: $box-sidepadding;
$border-width: 2px;

$font-title-size: 1.3rem;

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
$font-regular: "Open Sans", sans-serif;

a {
  color: $blue;
}

body {
  color: $dark;
  background-color: $bg-color;
  font-family: $font-regular;
  font-size: 13px;
  margin: 0;
  padding-top: 76px;

  @include for-tablet-portrait-up {
    padding-top: 70px;
  }
}

.reviewsrating {
  border: 0;
}

.reviews,
.followers {
  font-size: 1rem;
  color: #717579;

  &__number {
    color: $dark;
  }
}

.followers {
  margin-top: 26px;

  ion-icon {
    color: $semi-darkgray;
    font-size: 1.6rem;
    vertical-align: middle;
  }
}

.hide-phone {
  display: none;

  @include for-tablet-portrait-up {
    display: block;
  }
}

.reviewsrating {
  @include for-tablet-portrait-up {
    position: absolute;
  }
}

.container {
  max-width: 1180px;
  margin: auto;
}

.followers {
  @include for-tablet-portrait-up {
    position: absolute;
    right: 0;
    bottom: -3px;
  }
}

// Components

@import "buttons";
@import "header-menu";
@import "profile-header";
@import "profile-content";
@import "starred-rate";
@import "horizontal-menu";
@import "infocards";
@import "iconedlist";
